# /etc/systemd/system/wpa-cli-event-handler.service
# This file is managed by Chef
#
# wpa_cli - wpa_supplicant CLI & event handler daemon
#

[Unit]
Description=wpa_cli Event Handler Daemon
BindsTo=<%= @network_interfaces.keys.grep(/wlan/).map { |iface| 'sys-subsystem-net-devices-' + iface.to_s + '.device' }.join(' ') %>
After=network-online.target <% @network_interfaces.keys.grep(/wlan/).each do |iface| %>sys-subsystem-net-devices-<%= iface -%>.device ifup@<%= iface -%>.service <% end %>wpa_supplicant.service dhcpcd.service
Wants=network-online.target

[Service]
Type=forking
ExecStart=/sbin/wpa_cli -B -a /etc/network/wpa-supplicant-event-handler
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
