# This file is managed by Chef
#
# parprouted - Proxy ARP IP bridging daemon
#
# GPLv2, (C) 2008, Vladimir Ivaschenko <vi@maks.net>
# parprouted is free software; you can redistribute it and/or modify it
# under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
#
# parprouted is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
# or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public
# License for more details.
#
# You should have received a copy of the GNU General Public
# License along with parprouted; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307
# USA.

[Unit]
Description=Proxy ARP IP bridging daemon

[Service]
After=network.target wpa_supplicant.service
Type=forking
EnvironmentFile=/etc/default/parprouted
#ExecStartPre=/sbin/ip addr add "$(/sbin/ip addr show $PARPROUTED_IFACE2 | perl -wne 'm|^\s+inet (.*)/| && print \$1')/32" dev $PARPROUTED_IFACE1
ExecStartPre=/etc/network/wireless-bridge-ip-clone $PARPROUTED_IFACE1 $PARPROUTED_IFACE2
ExecStart=/usr/sbin/parprouted $PARPROUTED_IFACE1 $PARPROUTED_IFACE2
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
